body {
    font-size: 1.1em;
    line-height: 1.5em;
    max-width: 45em;
    margin: auto;
    padding: 0 2%;
    color: #d3d3d3;
    background-color: #404040;
}
.nav {
    padding: 0% 0% 8% 0%;
}
a {
    color: #d3a3e3;
}
